[Desktop Entry]
Type=Service
MimeType=image/png;image/jpeg;image/jpg;
Actions=setAwww;setHyprlock;setSddm;setGrub
X-KDE-Submenu=set Wallpaper(costom)
Icon=image

[Desktop Action setAwww]
Name=set awww background(desktop wallpaper)
Icon=image
Exec=awww img "%f" --transition-type random

[Desktop Action setHyprlock]
Name=set hyprlock background(lockscreen wallpaper)
Icon=image
Exec=ffmpeg -i "%f" -y /home/kazro/.config/hypr/hyprlock_Background.png

[Desktop Action setSddm]
Name=set SDDM background(greeter wallpaper)
Icon=image
Exec=pkexec ffmpeg -i "%f"  -y /usr/share/sddm/themes/silent/backgrounds/default.jpg

[Desktop Action setGrub]
Name=set GRUB background(grub wallpaper)
Icon=image
Exec=pkexec ffmpeg -i "%f"  -y /boot/grub/themes/CyberGRUB-2077/background.png
